* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html {
	font-size: 20px;
}

header {
	width: 16.0rem;
}
.header-title {
	width: 100%;
	/* 89 / 40*/
	height: 2.225rem; 
	background: #262626;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.1rem solid #4bccae;
}

.header-title a {
	width: 1.5rem;
	height: 1.2rem;
	background-size: 100%;
	text-indent: -999em;
}
.slide-down {
	background: url(image/menu-bg.png) no-repeat;
	margin-left: 0.4rem;
}
.pc {
	background: url(image/pc-bg.png) no-repeat;
	margin-right: 0.4rem;
}
.header-title h1 {
	color: #fff;
	font-size: 0.975rem;
	font-weight: normal;
}

/*头部登录注册*/
.header-info {
	width: 100%;
	height: 2.1rem;
	background: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-info a {
	color: #8d8d8d;
	text-decoration: none;
	font-size: 0.75rem;
	height: 1.5rem;
	padding-left: 2.0rem;
	line-height: 1.5rem;
	/*background: red;*/
}
.header-info .line {
	width: 0;
	height: 1.45rem;
	border-left: 0.05rem solid #e6e6e6;
	border-right: 0.025rem solid #fefefe;
	margin: 0 1.425rem;
}
.login {
	background: url(image/user-bg.png) no-repeat left;
	background-size: 100%;
}
.register {
	background: url(image/user-bg2.png) no-repeat left;
	background-size: 100%;
}
/*中间部分*/
section {
	width: 16.0rem;
}

.lunbo {
	width: 100%;
	height: 7.8rem;
	display: flex;
}
.lunbo li {
	width: 100%;
	height: 7.8rem;
	position: relative;
}
.lunbo li img {
	width: 16.0rem;
	height: 7.8rem;
}
.lunbo li span {
	position: absolute;
	width: 100%;
	height: 1.85rem;
	text-align: center;
	line-height: 1.85rem;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 0.75rem;
}